body {
    margin-top: 0px;
    margin-left: 0px;
}

.chatRoom {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px gray;
}

    .chatRoom .content {
        height: 300px;
        clear: both;
    }

        .chatRoom .content .chatWindow {
            float: left;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
        }

            .chatRoom .content .chatWindow .message {
                padding: 10px;
            }

                .chatRoom .content .chatWindow .message .userName {
                    font-weight: bold;
                }


    .chatRoom .messageBar {
        border-top: solid 1px gray;
        padding: 4px;
    }

        .chatRoom .messageBar .textbox {
            width: 550px;
        }

.draggable {
    position: absolute;
    border: #5f9482 solid 1px !important;
    width: 250px;
}

    .draggable .header {
        cursor: move;
        background-color: #d7e5e4;
        border-bottom: #5f9482 solid 1px;
        color: #1e4638;
    }

    .draggable .selText {
        color: black;
        padding: 4px;
    }

    .draggable .messageArea {
        width: 250px;
        overflow-y: scroll;
        height: 200px;
        border-bottom: #5f9482 solid 1px;
    }

        .draggable .messageArea .message {
            padding: 4px;
        }

    .draggable .buttonBar {
        width: 250px;
        padding: 4px;
    }

        .draggable .buttonBar .msgText {
            width: 172px;
        }

        .draggable .buttonBar .button {
            margin-left: 4px;
            width: 55px;
        }
